<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link href="../css/swiper.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/api.css" />
    <link rel="stylesheet" href="../src/css/index.css">
    <link rel="stylesheet" href="../src/css/swiper-4.2.2.min.css">
    <!--轮播css-->
    <link rel="stylesheet" href="../src/css/icon/iconfont.css">
    <!--图标字体->
    <link rel="stylesheet" href="../src/css/icon/iconfont.css">
    <script src="../src/library/zepto.js"></script><!--页面js-->
    <script src="../src/library/zepto.js"></script>
    <!--页面js-->
    <script src="../src/library/swiper-4.2.2.min.js"></script>
    <!--页面js-->
    <script src="../src/js/global.js"></script>
    <style>
        html,
        body {
            background: #ffffff;
        }
    </style>
</head>
<body ng-controller="DataController">
<header class="header">
    <div class="breadcrumbs">
        <div class="m-swiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="x in bannerList" ng-cloak ng-click="addetail(x)">
                        <a href="javascript:;">
                            <img src="{{lunboimg + x.images}}" alt="">
                        </a>
                    </div>
                    <!--<div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="../src/images/ind-02.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="../src/images/ind-03.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="../src/images/ind-04.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="../src/images/ind-05.png" alt="">
                        </a>
                    </div>-->
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Initialize Swiper -->
            </div>
            <script>
                var swiper = new Swiper('.swiper-container', {
                    pagination : {
                        el        : '.swiper-pagination',
                        clickable : true,
                    },
                    loop       : true,
                    delay      : 1500,
                    autoplay   : {
                        disableOnInteraction : false,
                    },
                });
            </script>
        </div>
        <div class="u-search2">
            <form class="form" action="">
                <img class="frame0_my user_head" src="../image/my.png" alt="" onclick="myfile()">
                <div class="search-div" onClick="sousuo()">
                    <i class="iconfont icon-sousuo"></i>
                    <input class="search-input" type="search" placeholder="搜索我的书架、在线书库">
                </div>
            </form>
        </div>
        <div class="nav">
            <a class="nav_a" href="javascript:;" onclick="paihang()">
                <div class="iconfont icon-paixing" style="    /*color: #ff8080;*/"></div>
                <div>排行</div>
            </a>
            <a class="nav_a nav_b current nav_sty">
                <div class="iconfont icon-girl" style="    /*color: #f77293;*/"></div>
                <div>女频</div>
            </a>
            <a class="nav_a nav_b nav_sty">
                <div class="iconfont icon-boy" style="/*color: #1295db;*/"></div>
                <div>男频</div>
            </a>
            <a class="nav_a nav_b nav_sty">
                <div class="iconfont icon-chubanwu" style="    /*color: #9ed94c;*/"></div>
                <div>出版</div>
            </a>
            <!--<a class="nav_a nav_b nav_sty">推荐</a>-->
            <a class="nav_a" href="javascript:;" onclick="shudan()">
                <div class="iconfont icon-book-copy-copy-copy-copy-copy" style="    font-size: 0.58rem;/*color: #8095ff;*/"></div>
                <div>书单</div>
            </a>
        </div>
    </div>
</header>
<div class="content">
        <!--<div class="m-swiper">
            &lt;!&ndash; <div class="swiper-container" id="swiper1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="x in bannerList" ng-click="addetail(x)">
                        <img src="{{lunboimg + x.images}}" alt="" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div> &ndash;&gt;

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="x in bannerList" ng-click="addetail(x)">
                        <a href="javascript:;">
                            <img src="{{lunboimg + x.images}}" alt="">
                        </a>
                    </div>
                    &lt;!&ndash; <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="../src/images/ind-02.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="../src/images/ind-03.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="../src/images/ind-04.png" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="../src/images/ind-05.png" alt="">
                        </a>
                    </div> &ndash;&gt;
                </div>
                &lt;!&ndash; Add Pagination &ndash;&gt;
                <div class="swiper-pagination"></div>
                &lt;!&ndash; Initialize Swiper &ndash;&gt;
            </div>

            <script>
                // var swiper = new Swiper('.swiper-container', {
                //     pagination: {
                //         el: '.swiper-pagination',
                //         clickable: true,
                //     },
                //     loop: true,
                //     delay: 1500,
                //     autoplay: {
                //         disableOnInteraction: false,
                //     },
                // });
            </script>


        </div>-->
       <!-- <div class="m-choice">
            <h3 class="h3">推荐：精选</h3>
            <a class="u-text_line" href="javascript:;">推荐已生效，点开即领！</a>
        </div>-->
        <div class="m-recom">
            <div class="u-hd" ng-click="openWs(zhuda.id)">
                <h2 class="h2" ng-cloak>{{ zhuda.title }}</h2>
                <div class="right">
                    <a href="javascript:;">更多</a>
                </div>
            </div>
            <div class="bd">
                <ul class="u-ul_flex">
                    <li class="li" ng-repeat="zd in zhuda.xiaoshuo | limitTo:3" ng-cloak ng-click="shuji(zd.articleid)">
                        <div class="top">
                            <a href="javascript:;">
                                <img src="{{ imgurl + zd.images }}" />
                            </a>
                        </div>
                        <div class="button">
                            <a class="u-line2" href="javascript:;" style="width: 5em;">{{ zd.articlename }}</a>
                        </div>
                    </li>
                    <!-- <li class="li">
                        <div class="top">
                            <a href="javascript:;">
                                <img src="../src/images/i-01.png" />
                            </a>
                        </div>
                        <div class="button">
                            <a class="u-line2" href="javascript:;">医妃读心术</a>
                        </div>
                    </li>
                    <li class="li">
                        <div class="top">
                            <a href="javascript:;">
                                <img src="../src/images/i-01.png" />
                            </a>
                        </div>
                        <div class="button">
                            <a class="u-line2" href="javascript:;">医妃读心术</a>
                        </div>
                    </li> -->
                    <!--<li class="li">
                    <div class="top">
                        <a href="javascript:;">
                            <img src="../src/images/i-01.png"/>
                        </a>
                    </div>
                    <div class="button">
                        <a class="u-line2" href="javascript:;">医妃读心术</a>
                    </div>
                </li>-->
                </ul>
            </div>
        </div>
        <!--强力推荐-->
        <div class="m-recom">
            <div class="u-hd" ng-click="openWs(tuijian.id)">
                <h2 class="h2" ng-cloak>{{ tuijian.title }}</h2>
                <div class="right">
                    <a href="javascript:;">更多</a>
                </div>
            </div>
            <div class="bd">
                <ul class="u-ul_flex">
                    <li class="li" ng-repeat="tj in tuijian.xiaoshuo | limitTo:6" ng-cloak ng-click="shuji(tj.articleid)">
                        <div class="top">
                            <a href="javascript:;">
                                <img src="{{ imgurl + tj.images }}" />
                            </a>
                        </div>
                        <div class="button">
                            <a class="u-line2" href="javascript:;" style="width: 5em;">{{ tj.articlename }}</a>
                        </div>
                    </li>
                    <!-- <li class="li" onClick="location.href='javascript:;'">
                        <div class="top">
                            <a href="javascript:;">
                                <img src="../src/images/i-01.png" />
                            </a>
                        </div>
                        <div class="button">
                            <a class="u-line2" href="javascript:;">医妃读心术</a>
                        </div>
                    </li>
                    <li class="li" onClick="location.href='javascript:;'">
                        <div class="top">
                            <a href="javascript:;">
                                <img src="../src/images/i-01.png" />
                            </a>
                        </div>
                        <div class="button">
                            <a class="u-line2" href="javascript:;">医妃读心术</a>
                        </div>
                    </li>
                    <li class="li" onClick="location.href='javascript:;'">
                        <div class="top">
                            <a href="javascript:;">
                                <img src="../src/images/i-01.png" />
                            </a>
                        </div>
                        <div class="button">
                            <a class="u-line2" href="javascript:;">医妃读心术</a>
                        </div>
                    </li>
                    <li class="li" onClick="location.href='javascript:;'">
                        <div class="top">
                            <a href="javascript:;">
                                <img src="../src/images/i-01.png" />
                            </a>
                        </div>
                        <div class="button">
                            <a class="u-line2" href="javascript:;">医妃读心术</a>
                        </div>
                    </li>
                    <li class="li" onClick="location.href='javascript:;'">
                        <div class="top">
                            <a href="javascript:;">
                                <img src="../src/images/i-01.png" />
                            </a>
                        </div>
                        <div class="button">
                            <a class="u-line2" href="javascript:;">医妃读心术</a>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="m-time-travel" ng-if="chuanyue.xiaoshuo.length > 0" ng-repeat="chuanyue in bookList" ng-cloak>
            <div class="u-hd"  ng-click="openWs(chuanyue.id)">
                <h2 class="h2">{{ chuanyue.title }}</h2>
                <div class="right">
                    <a href="javascript:;">更多</a>
                </div>
            </div>
            <div class="bd">
                <ul class="u-ul_lr" ng-if="chuanyue.xiaoshuo.length > 0">
                    <li class="li" ng-repeat="cy in chuanyue.xiaoshuo | limitTo:4" ng-cloak ng-click="shuji(cy.articleid)">
                        <div class="left">
                            <img src="{{ imgurl + cy.images }}" alt="">
                        </div>
                        <div class="right" style="flex:1;">
                            <h3 class="h3 u-text_line">{{ cy.articlename }}</h3>
                            <p class="u-line2">{{ cy.intro }}</p>
                            <p class="text" style="justify-content: space-between;">
                                <span class="author">{{ cy.author }}</span>
                                <em>
                                    <span class="u-title1">{{ cy.shortname }}</span>
                                    <span class="u-title2">{{(cy.size/20).toFixed(1)}}万字</span>
                                </em>
                            </p>
                        </div>
                    </li>
                    <!-- <li class="li" onClick="location.href='javascript:;'">
                        <div class="left">
                            <img src="../src/images/i-01.png" alt="">
                        </div>
                        <div class="right">
                            <h3 class="h3 u-text_line">邪王轻点爱：枭宠医妃</h3>
                            <p class="text">
                                <span class="author">拈花惹笑</span>
                                <span class="u-title1">王爷</span>
                                <span class="u-title2">女尊天下</span>
                            </p>
                            <p class="u-line2">特种女兵军医穿越：战神王爷轻点可以吗？</p>
                        </div>
                    </li>
                    <li class="li" onClick="location.href='javascript:;'">
                        <div class="left">
                            <img src="../src/images/i-01.png" alt="">
                        </div>
                        <div class="right">
                            <h3 class="h3 u-text_line">邪王轻点爱：枭宠医妃</h3>
                            <p class="text">
                                <span class="author">拈花惹笑</span>
                                <span class="u-title1">王爷</span>
                                <span class="u-title2">女尊天下</span>
                            </p>
                            <p class="u-line2">特种女兵军医穿越：战神王爷轻点可以吗？</p>
                        </div>
                    </li>
                    <li class="li" onClick="location.href='javascript:;'">
                        <div class="left">
                            <img src="../src/images/i-01.png" alt="">
                        </div>
                        <div class="right">
                            <h3 class="h3 u-text_line">邪王轻点爱：枭宠医妃</h3>
                            <p class="text">
                                <span class="author">拈花惹笑</span>
                                <span class="u-title1">王爷</span>
                                <span class="u-title2">女尊天下</span>
                            </p>
                            <p class="u-line2">特种女兵军医穿越：战神王爷轻点可以吗？</p>
                        </div>
                    </li> -->
                </ul>
                <ul class="u-ul_flex" ng-if="chuanyue.xiaoshuo.length1 > 0">
                    <li class="li" ng-repeat="cy in chuanyue.xiaoshuo1 | limitTo:3" ng-cloak ng-click="shuji(cy.articleid)">
                        <div class="top">
                            <a href="javascript:;">
                                <img src="{{ imgurl + cy.images }}" />
                            </a>
                        </div>
                        <div class="button">
                            <a class="u-line2" href="javascript:;" style="width: 5em;">{{ cy.articlename }}</a>
                        </div>
                    </li>
                    <!-- <li class="li" onClick="location.href='javascript:;'">
                        <div class="top">
                            <a href="javascript:;">
                                <img src="../src/images/i-01.png" />
                            </a>
                        </div>
                        <div class="button">
                            <a class="u-line2" href="javascript:;">医妃读心术</a>
                        </div>
                    </li>
                    <li class="li" onClick="location.href='javascript:;'">
                        <div class="top">
                            <a href="javascript:;">
                                <img src="../src/images/i-01.png" />
                            </a>
                        </div>
                        <div class="button">
                            <a class="u-line2" href="javascript:;">医妃读心术</a>
                        </div>
                    </li> -->
                    <!--<li class="li">
                    <div class="top">
                        <a href="javascript:;">
                            <img src="../src/images/i-01.png"/>
                        </a>
                    </div>
                    <div class="button">
                        <a class="u-line2" href="javascript:;">医妃读心术</a>
                    </div>
                </li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom_loadmore"></div>
</body>

</html>
<script src="../script/jquery-2.1.4.js"></script>
<script type="text/javascript" src="../script/api.js"></script>
<script src="../script/angular.min.js"></script>
<script src="../script/ev.js"></script>
<script>
    apiready = function () {
        api.addEventListener({
            name : 'usershuas',
        }, function(ret, err) {
            var user_head = $api.getStorage('user_head');
            if (user_head == '' || user_head == 'touxiang.png') {
                $('.frame0_my').attr('src', '../image/my.png');
            }
            else {
                $('.frame0_my').attr('src', imageUrl + user_head);
            }
        });
        EventT.emit("apiready");
        api.setFullScreen({
            fullScreen: false
        });
        funIniGroup();
    }

    var app = angular.module("myApp", []);

    app.controller("DataController", function ($scope, $timeout) { //angular开始
        $scope.bookList = [];
        $scope.imgurl = imageUrl;
        $scope.lunboimg = imageUrl;
        var user_head = $api.getStorage('user_head');
        if (user_head != '' && user_head != 'touxiang.png' && user_head) {
            $('.frame0_my').attr('src', imageUrl + user_head);
        }
        //打开更多
        $scope.openWs = function (data) {
            api.openWin({
                name: data + 'win_heSD',
                url: 'win_header.html',
                pageParam: {
                    frm_name: data + 'xiangqing_SD',
                    frm_url: 'frame0/resou.html',
                    title: '书籍',
                    data: {
                        moreId: data
                    }
                }
            });
        }

        //轮播
        function getLunBo() {
            $api.post(phpurl + "Home/Book/pad?pindao=4", {

            }, function (ret) {
                var result = ret.result;
                if (ret.code == 200) {
                    if (ret.result.length > 0) {

                        $scope.bannerList = ret.result;
                        $scope.$apply();
                        setTimeout(function () {

                            var swiper = new Swiper('.swiper-container', {
                                pagination: {
                                    el: '.swiper-pagination',
                                    clickable: true,
                                    // type:'bullets'
                                },
                                observer: true, //修改swiper自己或子元素时，自动初始化swiper
                                observeParents: true, //修改swiper的父元素时，自动初始化swiper
                                loop: true,
                                delay: 100,
                                autoplay: {
                                    disableOnInteraction: false,
                                },
                                watchSlidesVisibility: true,
                                initialSlide: 0,
                            })
                        }, 1000);
                    }

                } else {
                    $api.toast('很是遗憾，没加载到数据');
                    // $api.closeloadding(); //关闭加载
                }
            })
        }


        //第一第二小说模块列表
        function getData() {
            $api.post(phpurl + "Home/Book/pingdao?pindao=4", {
                values: {}
            }, function (ret) {
                if (ret.code == 200) {
                    var bookresult = ret.result;
                    $scope.zhuda = bookresult.xiaoshuo1;
                    $scope.tuijian = bookresult.xiaoshuo2;
                    // console.log(JSON.stringify(bookresult))
                    $scope.$apply();
                } else {
                    $api.toast('很是遗憾，没加载到数据');
                    // $api.closeloadding(); //关闭加载
                }
            })
        }

        //穿越模块列表
        function getCYData(page, callback) {
            $api.post(phpurl + "Home/Book/pingdao?pindao=4", {
                values: {
                    page: page
                }
            }, function (ret) {
               // console.log(JSON.stringify(ret))
               if (ret.code == 200) {
                    var result = ret.result;
                    if (page == 0) {
                        $scope.bookList = [];
                    }
                    if(result.xiaoshuo.length>0){

                        $scope.bookList = $scope.bookList.concat(result.xiaoshuo);
                    }
                    $scope.$apply();

                    // $api.closeloadding(); //关闭加载
                } else {
                    $api.toast('很是遗憾，没加载到数据');
                    // $api.closeloadding(); //关闭加载
                }
                callback && callback(ret);
            })

        }



        //轮播点击事件
        $scope.addetail = function (data) {
            if (data.gotos == 0) //打开书籍详情
            {
                api.openWin({
                    name      : data + 'shu_ji_xiang_qing_win',
                    url       : 'dtail.html',
                    pageParam : {
                        data : {
                            bookid : data.bookid
                        },
                    },
                });
                /*api.openWin({
                    name: data + 'shu_ji_xiang_qing_win',
                    url: 'win_header.html',
                    pageParam: {
                        frm_name: data + 'book_detail',
                        frm_url: 'dtail.html',
                        title: '书籍详情',
                        data: {
                            bookid: data.bookid
                        }
                    }
                });*/

            } else if (data.gotos == 1) //打开广告详情
            {
                api.openWin({
                    name: data + 'win_headerad',
                    url: 'win_header.html',
                    pageParam: {
                        frm_name: data + 'guanggxq',
                        frm_url: 'addetail.html',
                        title: '美书',
                        data: {
                            content: data.content
                        }
                    }
                });

            } else if (data.gotos == 2) //打开网址
            {
                api.openWin({
                    name: '美书',
                    url: data.weburl
                });
            }

        }

        $scope.shuji = function (datas) {
            api.openWin({
                name: datas + 'win_he_shu',
                url: 'dtail.html',
                pageParam: {
                    data: {
                        bookid: datas
                    }

                }
            });

        }

        EventT.on("apiready", function () {
            // setTimeout(getLunBo, 500)
            getLunBo();
            getData();
            getCYData(0);

            // getData();
            // setTimeout(getCYData(0), 3000);

            //在下方往上拉 刷新显示更多--不是通过ret.result.length进行判断刷新，而是自定义对象的长度判断
            $api.cyUp(function (page, callback) {
                // 通过par_len判断是否还有数据
                getCYData(page, function (ret) {
                    par_len = ret.result.xiaoshuo.length;
                    callback && callback(page, ret, par_len);
                })
            });
            //上
            $api.pull(function (callback) {
                getCYData(0, function () {
                    callback && callback();
                })
            })
        })

    });
    // 首页导航切换
    $(function() {
        $('.nav_b').on('click', function() {
            var index = $(this).index() - 1;
            api.setFrameGroupIndex({ //设置 frame 组当前可见 frame
                name  : 'frame0_Group',
                index : index,
                // scroll: true
            });
        })
    })
    //首页导航绘制
    function funIniGroup() {
        frames_url = ['frame0.html', 'frame0_male.html', 'frame0_publish.html', 'frame0_gratis.html'];
        var navLis = $('.nav .nav_b'),
            frames = [];
        var systemType = api.systemType;
        // console.log('文档高度：'+document.documentElement.offsetHeight);
        // console.log('窗口高度：'+window.innerHeight);
        if (systemType == 'android') {
            for (var i = 0, len = navLis.length; i < len; i++) {
                frames.push({
                    name    : 'frame00' + i,
                    url     : frames_url[i],
                    bgColor : '#eee',
                    bounces : false,
                    // pageParam: {
                    //     'headerH': h
                    // }
                });
            }
            ;
            api.openFrameGroup({
                name          : 'frame0_Group',
                scrollEnabled : false,
                preload       : 0,
                rect          : {
                    x : 0,
                    y : 0,
                    w : api.winWidth,
                    h : api.winHeight - footerPos.h - 0,
                    // marginBottom: 60
                },
                index         : 0,
                frames        : frames
            }, function(ret, err) {});
        } else {
            for (var i = 0, len = navLis.length; i < len; i++) {
                frames.push({
                    name    : 'frame00' + i,
                    url     : frames_url[i],
                    bgColor : '#eee',
                    bounces : false,
                    // pageParam: {
                    //     'headerH': h
                    // }
                });
            }
            ;
            api.openFrameGroup({
                name          : 'frame0_Group',
                scrollEnabled : false,
                preload       : 0,
                rect          : {
                    x : 0,
                    y : 110,
                    w : api.winWidth,
                    h : api.winHeight - footerPos.h - 110
                },
                index         : 0,
                frames        : frames
            }, function(ret, err) {});
        }
    };
    function paihang() {
        api.openWin({
            name      : 'win_gratis',
            url       : 'win_header.html',
            pageParam : {
                frm_name : 'rank_1asd',
                frm_url  : 'ranking.html',
                title    : '排行榜',
            },
        });
    }
    function sousuo() {
        api.openWin({
            name : 'win_header_fdsaf',
            url  : 'frame0/seek_win.html',
        });
    }
    function shudan() {
        api.openWin({
            name      : 'win_shudan',
            url       : 'win_header.html',
            pageParam : {
                frm_name : 'shudan',
                frm_url  : 'BookSelection.html',
                title    : '书单',
            },
        });
    }
    //头部滚动变色
    $(window).on('scroll', function() {
        //scroll
        var t = $(this).scrollTop();
        var nDivHight = $('.m-swiper').height() - 20;
        if (t >= nDivHight) {
            $('.header .breadcrumbs .u-search2').addClass('js-nav_bg');
            if ($('.frame0_my').attr('src') == '../image/my.png') {
                $('.frame0_my').attr('src', '../image/my_fff.png')
            }
        } else {
            $('.header .breadcrumbs .u-search2').removeClass('js-nav_bg');
            if ($('.frame0_my').attr('src') == '../image/my_fff.png') {
                $('.frame0_my').attr('src', '../image/my.png')
            }
        }
    });
    //打开左侧
    function myfile() {
        api.openDrawerPane({
            type : 'left',
        });
    }
    //打开左侧
    function myfile() {
        api.openDrawerPane({
            type : 'left',
        });
    }
</script>
