@charset "UTF-8";
//常量

$main-color: #fff; //页面主色
$default-color: #2e3540; //字体默认颜色
$default-bg-color: #f1f1f1; //默认背景色
$default-size: 0.26rem; //默认字体大小
$page-max-width: 6.4rem; //最大宽度
$page-min-width: 3.2rem; //最小宽度
$page-color:#939d9d; //datail页常用
